<!-- Your code here -->
<html>
	<body>
		<h1>Hello World!</h1>
		<% City.all.each do |c| %>
			<% if not c.nil? %>
				<h1><%= c.name %></h1>
				<p>
				It's <%= c.temperature %>°F
				and it looks like <%= c.description %>
				</p>
			<% end %>
		<% end %>
		<%= form_with local: true, method: "get" do |f| %>
			<%= f.text_field :city %>
			<%= f.submit %>
		<% end %>
	</body>
</html>
