<html>
	<body>
		<h1>Hello World! From new.html.erb</h1>
		<%= form_with local: true, method: "post" do |f| %>
			<%= f.text_field :name %>
			<%= f.text_field :landmark %>
			<%= f.text_field :population %>
			<%= f.submit %>
		<% end %>
	</body>
</html>
